@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Excersise 1");

    string choices = "";
    var myname = "";
    var thebutton = "";
    var message = "";
    var foodMessage = "";
    var nameMessage = "";
    var color = "";
}

@section banner {<h1>@Page.Title</h1>}

@if (!IsPost) // NO Buttons Pressed
{
    message = "IsPost = false";
    color = "color:green";
}
else // Buttons Pressed
{
    myname = Request.Form["dataentry"];
    choices = Request.Form["group"];
    thebutton = Request.Form["theButton"];

    if (thebutton.Equals("reset"))
    {
        message = "Reset button pressed";
        color = "color:green";
        choices = "";
        myname = "";
    }
    else if (thebutton.Equals("submit"))
    {
        if (choices.IsEmpty())
        {
            foodMessage += "Please Enter A Meal Selection";
            color = "color:firebrick";
            choices = "";
        }

        if (string.IsNullOrEmpty(myname))
        {
            nameMessage = "Please Enter A Name ";
            color = "color:firebrick";
        }

        else if (!(string.IsNullOrEmpty(myname) || (choices.IsEmpty())))
        {
            nameMessage = ("Customer Name: " + @myname);

            var choicesarray = choices.Split(',');
            foodMessage = ".  Menu Selection: ";
            for (int i = 0; i < choicesarray.Length; i++)
            {
                foodMessage += @choicesarray[i] + ". ";
                color = "color:green";
            }

        }
        message = (nameMessage + foodMessage);

    }

}

<form id="theform" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="label1" for="dataentry">Customer Name:</label>&nbsp;&nbsp;
        </div>
        <div class="col-8 text-left">
            <input type="text" id="dataentry" name="dataentry" value="@myname" />
        </div>
        <br />
    </div>
    <br /><br />
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblGameGroup">Menu Items:</label><br />
        </div>
        <div class="col-8 text-left">
            <input type="checkbox" id="group" name="group" value="Steak"
                   @(Array.IndexOf(choices.Split(','), "Steak") >= 0 ? "checked" : "") />Steak<br />
            <input type="checkbox" id="group" name="group" value="Seafood"
                   @(Array.IndexOf(choices.Split(','), "Seafood") >= 0 ? "checked" : "") />Seafood<br />
            <input type="checkbox" id="group" name="group" value="Vegan"
                   @(Array.IndexOf(choices.Split(','), "Vegan") >= 0 ? "checked" : "") />Vegan
            <br /><br />
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Submit
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="reset" class="btn btn-light">
                Reset
            </button>
            <br /><br />
            <div class="row">
                <div class="text-center">
                    <p style=@color>
                        @message
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>

